*{
    box-sizing: border-box;
    margin: 10;
    padding: 10;
     
}

body{
    background-color: black;
    color: white;
    background-color: #474140;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23000000' fill-opacity='0.49'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bolder;

}
.ul{
    list-style: none;
}
.container{
  width: 90%;
  margin: auto;

}
/*Navigation tools */

.nav-main{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.LOGO{
    padding-top: 20px;
    width: 100px;
    height: 100px;
}
.nav-brand{
    width: 150px;
}
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
    list-style: none;
}
.nav-main ul li a {
    padding: 2px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #C1BCBC;
    color: #e22020;
}
.nav-main ul .nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*SHOWCASE*/
hr{
   margin:20 20; 
  
}
.showcase{
    width: 100%;
    background: url('images/pexel.jpg') no-repeat center/cover;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 20px;
}
.showcase p{
    background-color: rgba(41, 39, 39, 0.7);
    
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #474140;
    color: #C1BCBC;
    border: 2px solid #C1BCBC;
    border-radius: 15px;
    margin: 10px;

}
.btn:hover{
    opacity: .8;
}

.showcase h2, .showcase p{
    margin-bottom:10px ;
}
/*NEWS CARDS*/
.card{
    background-color: #474140;
    opacity: .9;
    color: white;
}
.news-cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 10px 0;

}
.news-cards img{
    width: 100%;
    height: 200px; 
}
.card h2, .card p, .card a{
    margin: 10px;
}
.news-card h3{
    font-size: 20px;
    margin: 10px;

}

.news-cards a{
    padding: 10px 0;
    color:#C1BCBC;
    display: inline-block;
    font-weight: bold;
}

.news-cards a:hover{
    text-decoration: underline;
}

/*BANNER*/
.banner {
    padding: 20px;
    width: 100%;
    height: 350px;
    background: url('./images/tech.jpg') no-repeat center/cover;
    margin-bottom: 40px;
}
.bannertwo{
    padding: 20px;
    width: 100%;
    height: 350px;
    background: url('./images/romb.jpg') no-repeat center/cover;
    margin-bottom: 40px;
}
.banner .content, .bannertwo .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;

}

.banner p, .banner h2, a, .bannertwo p, .bannertwo h2, a{
    margin:  10px 10 0 20px;
}

.banner a,.bannertwo a {
    padding: 10px 0;
    color:#C1BCBC;
    display: inline-block;
    font-weight: bold;
}

.banner a:hover, .bannertwo a:hover{
    text-decoration: underline;
}

/*SOCIAL*/
.social{
    margin: 50px;
}

.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;

}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin: 0 30px;

}

.links i{
    font-size: 3rem;
}

/*FOOTER LINKS*/
.footer{
    background: black;
    color: #C1BCBC;
    font-size: 10px;
    padding: 15px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul{
    margin: 0 auto;
}
.footer-container ul li{
    line-height: 1.8;
    list-style: none;
    color: aliceblue;
}
.foot{
   
    color: #5e5655;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;

}
.foot .black{
    background: black;
}

@media (max-width:670px){
    .body{
        width: auto;
        justify-content: center;
        align-items: center;
    }
    .container{
        width: auto;
        margin: 8px;
        justify-content: center;
        align-items: center;
      }
    .LOGO{
        width: 80px;
        height: 80px;
    }
    
    .nav-main ul{
        display: flex;
        padding: 1px;
        margin: 3px;
    }
    .nav-main ul li{
        padding: 5px;
        list-style: none;
    }
    .nav-main ul li a {
        padding: 2px;
        font-size: 13px;
    }
    .showcase{
        padding: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .showcase p{
        background-color: rgba(41, 39, 39, 0.7);  
    }
    .btn{
        padding: 5px 10px;
        margin: 10px;
    }
    .card{
        width: 250px;
        background-color: #474140;
        opacity: .9;
        color: white;
    }
    .news-cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin: 10px 0;
        justify-content: center;
        align-items: center;
    
    }
    .news-cards img{
        width: 100%;
        height: 150px;   
    }
    .banner {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
    .bannertwo{
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;}

    .banner .content, .bannertwo .content {
        width: 80%;
        padding: 50px 0 0 30px;
        margin: 10px;
    }
    .footer{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .footer ul{
        margin: 0;
        padding: 0;
    }
    .foot{
        width: auto;
    }
}

@media (max-width:490px){
        .LOGO{
            width: 80px;
            height: 80px;
        }
        .nav-main ul{
            position: absolute;
            background-color: #474140;
            display: block;
            padding: 1px;
            margin: 30px;
        }
        .nav-main ul li{
            padding: 3px;
            list-style: none;
        }
        .nav-main ul li a {
            padding: 2px;
            font-size: 13px;
        }
    .showcase{
        width: 100%;
        padding: 20px;
    }
   
    .card{
        width: 100%;
        opacity: .9;
    }
    .news-cards{
        display:grid;
        grid-template-columns:  1fr;
    }
    .content{
        margin: 0;
        padding: 0;
    }
    .banner {
        padding: 10px;
        margin-bottom: 20px;
    }
    .bannertwo{
        padding: 10px;
        margin-bottom: 20px;}
        
    .banner .content, .bannertwo .content {
        padding: 10px;
    }
    .social{
        margin: 10px;
    }
    
    .social p{
        font-size: 30px;
    }
    .links a{
        margin: 0 20px;
    }
    .footer{
        background: black;
        width: 100%;
        color: #C1BCBC;
        font-size: 5px;
        padding: 10px ;
    }
    
    .footer-container{
        grid-template-columns: repeat(2 , 1fr);
    }
    .footer-container ul{
        margin: 10px;
        padding: 10px;
    }
   
    
}